* {
	font-family: calibri;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

body {
	background-color: rgb(44, 57, 66);
}

a {
	color: #e5edf4;
}

input:focus {
	outline: none;
}

[href] {
	text-decoration: none;
}

/*.top-support-link-menu START*/
.top-support-link-menu {
	display: grid;
	justify-content: end;
	grid-template-columns: repeat(6, auto);
	grid-gap: 22px;
	padding: 13px 70px;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}

.top-support-link-menu {
	text-align: center;
	color: #e5edf4;
}

.top-support-link-menu__cta {
	color: rgb(217, 215, 26);
}
/*.top-support-link-menu END*/

/*.top-search-user-menu START*/
.top-search-user-menu {
	background: url("./img/banner.png");
	display: grid;
	grid-template-columns: 1fr 1.75fr 0.25fr 3.75fr 0fr 3fr 0.663fr;
	padding: 23px 68px;
	font-weight: bold;
	text-transform: uppercase;
}

.top-search-user-menu__logo {
  	background-color: #3e6885;
	padding: 0 35px 0px 17.5px;
}

/*.top-search-user-menu__searchbox START*/
.top-search-user-menu__searchbox {
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    border: none;
    margin: 6.5px 0px;
    color: #8e8e8e;
    font-size: 13px;
    padding: 0px 17px;
}

.searchbox__select {
    font-size: 16px;
    color: #32302f;
}

.searchbox__image {
    background-color: #2ca5fa;
    padding: 13px;
}
/*.top-search-user-menu__searchbox END*/

/*.top-search-user-menu__userlicon START*/
.top-search-user-menu__userlicon {
    justify-content: center;
    color: #e5edf4;
    display: flex;
    align-items: center;
    border: none;
    margin: 6.5px 0px;
    font-size: 12px;
}

.userlicon__option {
    text-align: center;
    font-size: 12px;
    margin: 0px 8px;
}

.userlicon__option > img {
    margin: 6px 0px;
}
/*.top-search-user-menu__userlicon END*/

.top-search-user-menu__cartbutton {
    background-color: #fb816a;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(3,auto);
    justify-content: space-evenly;
    align-items: center;
    margin: 10.5px 0px;
}

.cartbutton_text {
    font-size: 15px;
}
/*.top-search-user-menu END*/

/*.navi START*/
.navi {
    display: flex;
    align-items: center;
    padding: 0 85px;
    text-transform: uppercase;
}

.navi__item {
    margin: 0px 12px;
    padding: 16px 5px;
}

.item__text {
    font-size: 17px;
    text-align:center;
}

.navi__item:hover {
    border-bottom: #379aff solid 8px;
    padding-bottom: 7.5px;
}

.navi__item--dropdown {
    background-color: #fb816a;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(2,auto);
    justify-content: space-evenly;
    align-items: center;
    margin: 0 50px 0 0;
    padding: 10px 0;
}

.navi__item--dropdown > * { 
	/* ¿Cómo sería el hijo en BEM? 
		a) item--dropdown__son
		b) item__son
		c) dropdown__son
		d) Más práctico dejarlo con *
	*/
    font-size: 15px;
    font-weight: bold;
    padding: 0 16px;
}
/*.navi END*/

/*.header-text-banner START*/
.header-text-banner {
	background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 170px 5px 170px;
}

.header-text-banner__feature {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-column-gap: 25px;
}

.header-text-banner__img {
	/* ¿Cuál es mejor?:
		a) .header-text-banner__img
		b) .header-text-banner__feature--img
		c) .header-text-banner-feature__img
		d) .feature__img
	 */
	grid-row: span 3;
}

.header-text-banner__span {
	/* ¿Cuál es mejor?:
	    a) .header-text-banner__span
		b) .header-text-banner__feature--span
		c) .header-text-banner-feature__span
		d) .feature__span
	 */
    color: #4b4b4b;
    font-size: 15px;
	font-family: lato;
    font-weight: bold;
}

.header-text-banner__span--last {
    font-size: 13px;
    font-weight: normal;
}
/*.header-text-banner END*/

/*content START*/
.content {
	background-color: #e0e0e0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 30px;
	padding: 25px 85px;
}

.content__element {
	background-color: white;
	text-align: center;
	color: #373737;
}

.main-banner {
	grid-column: span 2;
}

/*deal START*/
.deal {
	padding: 15px 25px;
}

.deal__header {
	display: grid;
    grid-template-rows: 40px 18px;
}

.deal__header--title {
	color: #379aff;
	font-size: 40px;
	font-weight: bold;
}

.deal__header--subtitle {
	color: black;
	font-size: 12px;
	font-weight: bold;
}

.deal__cowntdown {
	display: flex;
	justify-content: center;
}

.deal__cowntdown--odd {
	color: white;
	background-color: #f0513a;
	font-size: 32px;
}

.deal__cowntdown--even{
	color: #f0513a;
	font-size: 32px;
}

.deal__description,.product__description {
	display: block;
	font-size: 16px;
	font-weight: bold;
}

.deal__price {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 1em;
}

.deal__price--total, 
.product__price--total {
	color: #379aff;
	font-size: 33.18px;
}
/*deal END*/

/*quick-link START*/
.quick-link {
	grid-column: span 3;
    display: flex;
    justify-content: space-around;
    padding: 18px 20px;
}

.quick-link__element {
	/* No es más práctico dejarlo como: 
		".quick-link > *"
		al ser menos lineas de código tanto en CSS como en el markup?
	*/
	color: black;
	font-size: 15px;
}

.quick-link__element--bold {
	font-weight: bold;
}

.quick-link__img {
	align-self: center;
}
/*quick-link END*/
/*content END*/

/*discounts START*/
.discounts, .products__element {
	background-color: #e0e0e0;
	display: flex;
	align-items: center;
	padding: 0 50px;
}

.discounts__element, .products__subelement {
	background-color: white;
	text-align: center;
	color: #373737;
}

/* Arrow Bullets START*/
ul {  
    padding: 0 30px;
    list-style: none;
}  
li:before {
    content: "";
    border-color: transparent #008eef;
    border-style: solid;
    border-width: 0.25em 0 0.25em 0.35em;
    display: block;
    height: 0;
    width: 0;
    left: -25px;
    top: 0.9em;
    position: relative;
}
/* Arrow Bullets END*/

/*disconut-product-area START*/
.discounts__banner {
	padding: 15px 30px;
    text-align: left;
    height: 285px;
    width: 25%;
}

.discounts-banner__title {
	padding: 10px 0;
	font-size: 2.57vw;
	font-weight: bold;
	line-height: 30px;
    letter-spacing: -2px;
    width: 80%;
}

.banner__li {
	font-size: 1.32vw;
}

.banner--1 {
	background: url("./img/discount-img-banner-1.png") no-repeat;
	background-size: contain;
}

.banner__title--1 {
	color: #379aff;
}

.banner--2 {
	background: url("./img/discount-img-banner-2.png") no-repeat;
	margin: 0 31px;
    background-size: contain;
}

.banner--3 {
	background: url("./img/discount-img-banner-3.png") no-repeat;
	color: white;
    background-size: contain;
}

.banner__li--white:before {
	/* ¿No es mejor dejarlo como:
		".banner--3 > ul >  .banner__li:before"
		para evitar tanta redundancia y repetición
		en cada linea de la lista en el markup?
	*/
	border-color: transparent white;
}
/*disconut-product-area END*/
/*discounts END*/

/*products START*/

.carousel-header {
	font-size: 35px;
	color: #32302f;
	padding: 35px 81px 15px;
}

.product {
	display: flex;
	flex-direction: column;
	align-items: center;
    padding: 7.5px 25px 20px;
    height: 290px;
    border-top: #2ca5fa solid 4px;
}

.subelement__image {
    display: flex;
    align-items: center;
    height: 100%;
}

.products__element:last-child {
	padding-bottom: 48px;
}

/*products END*/

/*.support-callout START*/
.support-callout {
	background-color: #406884;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 81px;
}

.support-callout__feature {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-column-gap: 25px;
}

.support-callout__img {
	grid-row: span 3;
}

.support-callout__span {
    color: white;
    font-size: 20.78px;
	font-family: lato;
    font-weight: bold;
}

.support-callout__span--last {
    font-size: 18.01px;
    font-weight: normal;
}
/*.support-callout END*/

/*footer START*/
.footer {
	display: flex;
	justify-content: space-between;
	color: white;
	background-color: #38464f;
    padding: 35px 81px 71px;
}

.footer__element--last {
    width: 26%;
}

.footer__text {
	display: flex;
	font-size: 20px;
	padding: 15px 0;
}

.footer__col {
	line-height: 22px;
	padding: 0 15px;
}

.footer__col > li:before {
	/* No es mas práctico así?
		En lugar de poner "footer_li"
		en todos y cada li?
	*/
    border-width: 0.35em 0 0.35em 0.45em;
    left: -15px;
    top: 1.1em;
}

.news-sign-up {
	border: solid #cfcfcf thin;
}

.news-sign-up__input::placeholder {
    color: white;
}

.news-sign-up__input {
	display: flex;
    align-items: center;
    background-color: transparent;
    color: inherit;
    font-size: 13.58px;
    width: 72%;
    padding-left: 15px;
    border-right: none;
}

.news-sign-up__image{
	border-left: none;
}

.footer__text--social {
	margin: 0 15px;
}

.social {	
	display: flex;
	align-items: center;
    margin: 0 15px;
    padding: 0 5px;
}
.social__icon {	
	margin-right: 40px;
}
/*footer END*/

/*Copyright START*/
.copyright {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	padding: 35px 80px;
}
/*Copyright END*/
